{% if d.backlinks %}
<h2 class="label">Voir aussi</h2>
<div class="backlinks-body">
{% if d.backlinks|internal %}<ul class="links1 links_internal">{% for d2 in d.backlinks|internal %}
<li class="Media">{% if d2.thumbs %}<div class="Media-figure"><a href="{{d2.url|relativize}}" class="internal"><img src="{{d2.thumbs[0]|relativize}}" /></a></div>{%endif%}<div class="Media-body"><a href="{{d2.url|relativize}}" class="internal"><span class="title">{{d2.title}}</span></a></div></li>{% endfor %}
</ul>{%endif%}{% if d.backlinks|external %}<ul class="links1 links_external">{% for d2 in d.backlinks|external %}
<li class="Media">{% if d2.thumbs %}<div class="Media-figure"><a href="{{d2.url|relativize}}" class="externalwiki"><img src="{{d2.thumbs[0]|relativize}}" /></a></div>{%endif%}<div class="Media-body"><a href="{{d2.url|relativize}}" class="externalwiki"><span class="title">{{d2.title}}</span></a></div></li>{% endfor %}
</ul>{%endif%}</div>{% endif %}
