<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/wiki.css">
<!-- Template for the menu/index page  -->

</head>
<body class="search">
<div id="search">
    <input id="searchinput" type="text" autofocus placeholder="Filtrer" />
</div>

<h1>Menu</h1>
{{"{{Menu}}"|parse|localize_pagelinks}}

<h1>Toutes les pages</h1>
<ul>
{% for p in allpages() %}<li><a href="{{p|local_url}}">{{p}}</a></li>
{% endfor %}
</ul>

<script src="../../index.js"></script>
</body>
</html>
