<!DOCTYPE html>
<html>
<head>
    <title>{% if data.is_cat %}{{title|strip_namespace}}{%else%}{{title}}{%endif%}</title>
    <meta charset="utf-8">
    {% if data.redirects_to %}<meta http-equiv="refresh" content="0; url={{data.redirects_to}}" />{%endif%}
    {% if data.is_cat %}<meta name="keywords" content="category" />{% endif %}
    <link rel="stylesheet" type="text/css" href={{"../style/wiki.css"|relativize}}>
    <link rel="stylesheet" type="text/css" href={{"../style/mobile.css"|relativize}}>
</head>
<body class="page-{{page.page_title|replace(" ", "_")}} {% for c in categories %}{{c.page_title|replace(" ", "_")}} {%endfor %}ns{{namespace}}">
<nav>
	<div id="menu-link">
		<a href="{{"index/index.html"|relativize}}">
			<span class="label">menu</span>
		</a>
	</div>
</nav>

<main>
{% if categories %}
<ul class="categories">
    {% for c in categories %}<li><a class="category {{c.page_title|replace(' ', '_')}}" href="{{c|local_url}}">{{c.page_title}}</a></li>{%endfor%}
</ul>
{% endif %}
<h1 class="title">{{title}}</h1>
{% if subcats %}
<div id="subcats">
    <h2 class="label">Sous-catégories</h2>
    <ul class="subcats">
    {% for c in subcats %}
    <li><a href="{{c|local_url}}">{{c.page_title}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<div id="content">
{{content}}
</div>
{% if catmembers %}
<div id="catmembers">
    <h2 class="label">Pages dans la catégorie «{{title}}»</h2>
    <ul class="catmembers">
    {% for p in catmembers %}
    <li><a href="{{p|local_url}}">{{p.page_title}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% block backlinks %}
<div id="backlinks">
</div>{% endblock %}
<div class="last_modified">
    {% if wikiurl %}<a class="wiki external" target="wiki" href="{{wikiurl}}">{% endif %}Dernière modification effectuée le {% if last_modified %}{{last_modified|strftime('%-d %B %Y')}}{% endif %}.{% if wikiurl %}</a>{% endif %}
</div>
</main>
</body>
</html>
