<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
    body {
        margin: 0;
        overflow: hidden;
    }
        #main {
            position: absolute;
            left: 0; top: 0; right: 0; bottom: 0;
        }
        #main svg {
            width: 100%; height: 100%;
        }

.links line {
  stroke: #aaa;
  stroke-width: 10;
}

.links line.linkc {
  stroke: #ff0090;
}

.links line.linkt {
  stroke: #9000ff;
}

svg a.item text {
  /*display: none;*/
}
svg a.item.mouse text {
  display: block;
}
#frame {
  position: absolute;
  width: 25%;
  height: 66%;
  overflow: hidden;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  background: #EEE;
}
#frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}
    </style>
</head>
<body>
    <div id="main">{{svg}}</div>
    <div id="frame"><iframe name="over"></iframe></div>
<script src="lib/d3/d3.min.js"></script>
<script src="anothermap.js"></script>
</body>
</html>