<!DOCTYPE html>
<html>
<head>
    <title>école de recherche graphique</title>
    <link rel="stylesheet" type="text/css" href="style/frame.css">
    <meta charset="utf-8">
    <script src="lib/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="lib/fancybox/dist/jquery.fancybox.min.css">
    <script src="lib/fancybox/dist/jquery.fancybox.min.js"></script>

<style type="text/css">
    #icons img {
        width: 32px;
        height: 32px;
    }

</style>
</head>
<body>

<div id="content" class="split">
    <div id="mapd" class="topframe">
        <iframe src="map.html" name="map" id="map" allowfullscreen="true"></iframe>
    </div>
    <div id="drag"><div class="area"></div></div>
    <div id="document" class="visible topframe">
        <div id="wiki">
            <iframe src="{{startpage|local_url}}" name="over" id="documentframe"></iframe>
        </div>
<!--         <div id="indexbutton">
            <a href="wiki/index/index.html" target="over"><img id="menuicon" src="img/threelines.svg" style="width: 32px; height: 32px"></a>
        </div>-->    
    </div>
</div>
<script src="lib/d3/d3.min.js"></script>
<script src="frame.js"></script>
</body>
</html>
