<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style/map.css">
<!-- fancybox for display -->
<script src="lib/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="lib/fancybox/dist/jquery.fancybox.min.css">
<script src="lib/fancybox/dist/jquery.fancybox.min.js"></script>
<style>
svg g#template {
  visibility: hidden;
}
#load {
  padding-top: 100px  ;
  text-align: center;
  position: absolute;
  z-index: 10000;
  width: 100%;
}
</style>
</head>
<body>
<div id="main">
<h1 id="home"><a target="over" href="/m/wiki/Bienvenue_%C3%A0_l%E2%80%99erg.html">erg</a></h1>
  <div id="svgdiv">
    {{svg}}
  </div>

<div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">-</a></div></div>
<!--   <div class="leaflet-bottom leaflet-left">
    <div class="leaflet-control-layers leaflet-control" aria-haspopup="true">
      <a class="leaflet-control-layers-toggle" href="#" title="Layers"></a>
      <form class="leaflet-control-layers-list">
        <div class="leaflet-control-layers-base"></div>
        <div class="leaflet-control-layers-separator" style="display: none;"></div>
        <div class="leaflet-control-layers-overlays">
          <div>
            <label><input class="leaflet-control-layers-selector" disabled="" type="checkbox" id="linker_cats" /><span>Catégories</span><label>
            <ul id="category-list">
            </ul>
          </div>
          <label><div>
            <input class="leaflet-control-layers-selector" checked="" type="checkbox" id="linker_active"><span> Active+2</span>
          </div></label>
          <label><div><input class="leaflet-control-layers-selector" type="checkbox" id="linker_core" checked=""><span> Liens</span></div></label>
          <label><div><input class="leaflet-control-layers-selector" checked="" type="checkbox" id="linker_history"><span> Histoire</span></div></label>
          <label><div><input class="leaflet-control-layers-selector" type="checkbox" id="linker_timeline"><span> Chronologie</span></div></label>
        </div>
      </form>
    </div>
  </div> -->
  <div class="leaflet-bottom leaflet-left"></div>
</div>

<div id="load">
  <div id="load_text">Loading...</div>
  <img src="img/progressindicator.gif">
</div>

</div> 
<script src="lib/d3/d3.min.js"></script>
<script src="lib/d3/d3-radial.min.js"></script>
<script src="map.js"></script>
<script>
// mixcloud
// https://www.mixcloud.com/Ergote_Radio/dj-musique/
// <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?feed=%2FErgote_Radio%2Fdj-musique%2F" frameborder="0" ></iframe>
// mini player (light)
// <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FErgote_Radio%2Fdj-musique%2F" frameborder="0" ></iframe>
(function () {

var fb = null,
  links,
  links_serialized,
  fb_is_open = false,
  FB_OPTS = {
    buttons : [
        'slideShow',
        'fullScreen',
        // 'thumbs',
        // 'share',
        // 'download',
        // 'zoom',
        'close'
    ],
  };

// http://fancyapps.com/fancybox/3/docs/#api
          // margin : [44, 0],

window.addEventListener("message", function (e) {
    // console.log("wikimap message", e.data);
    function get_links_i (links, href) {
      for (var i=0, l=links.length; i<l; i++) {
        if (links[i].src == e.data.href) { return i; }
      }
    }

    if (e.data.msg == "click") {
        console.log("wikimap.html click", e.data.href);
        var links_i = links ? get_links_i(links, e.data.href) : undefined;
        // console.log("wikimap message click", e.data.href, fb, links_i);
        if (fb !== null && links_i !== undefined) {
          // item in link (existing instance)
          // console.log("item in link, existing instance");
          fb.jumpTo(links_i);
        } else if (links_i !== undefined) {
          // item in links (no instance)
          // console.log("item in links, no instance");
          fb = $.fancybox.open(links, FB_OPTS, links_i);
        } else {
          // console.log("opening single item");
          fb = $.fancybox.open({src: e.data.href, type: 'iframe'}, FB_OPTS);  
        }
    } else if (e.data.msg == "linksgallery") {
      var new_links_serialized = JSON.stringify(e.data.links);
      links = e.data.links;
      var links_i = get_links_i(links, e.data.href);

      if (new_links_serialized == links_serialized) {
        console.log("wikimap.html: links are the same!");
        if (fb) {
          console.log("reusing fb instance");
          fb.jumpTo(links_i);
        } else {
          console.log("creating new instance with existing list");
          fb = $.fancybox.open(links, FB_OPTS, links_i);
        }
      } else {
        if (fb_is_open) {
          fb.close();
        }
        fb = $.fancybox.open(links, FB_OPTS, links_i);
      }
      links_serialized = new_links_serialized;
      // console.log("wikimap.html: linksgallery", e.data.links);
      // links = e.data.links;
      // if (fb) { fb.close() };
      // fb = null;
    }
});
$(document).on("afterClose.fb", function (e, instance, slide) {
    // console.log("wikimap beforeClose.fb");
    window.parent.postMessage({msg: "fancyboxclose"}, "*");
    //// if (fb) { fb.close() }
    fb = null;
    fb_is_open = false;
})
$(document).on("beforeShow.fb", function (e, instance, slide) {
    // console.log("wikimap beforeClose.fb");
    window.parent.postMessage({msg: "fancyboxopen"}, "*");
    fb_is_open = true;
})

function is_fancybox (t) {
  if (t.classList && t.classList.contains("fancybox-container")) {
    return true;
  }
  if (t.parentNode) { return is_fancybox(t.parentNode) }
}
$(document).on("click", function (e) {
  if (is_fancybox(e.target)) {
    var a = e.target;
    if (a.classList.contains("cpagelink")) {
      console.log("wikimap.click fancybox", e, e.target);
      e.preventDefault();
      var href = "/m/wiki/" + a.getAttribute("href");
      window.open(href, "over");
    }
  }
})

})();
</script>
</body>
</html>
