body {
    overflow: hidden;
}

#content {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    display: flex;
}

.topframe {
    /*transition-property: flex;*/
    /*transition-duration: 1s;*/
}

/* The map div */
#mapd {
    background: white;
    /*flex: 1 1 200px;*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 55%;
    position: relative;
}
/*#content.map #mapd {
    flex: 9 1 200px;
}
*/
#drag {
    width: 1px;
    /*background: black;*/
    flex-grow: 0;
    position: relative;
}
#drag .area {
    position: absolute;
    z-index: 100;
    width: 5px;
    left: -2px;
    /*background: gray;*/
    /*opacity: 0.5;*/
    top: 0;
    bottom: 0;
    cursor: move;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#drag .area:hover {
    background-color: fuchsia;
}

#document {
    background: #F0F0F0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    /*flex: 1 1 200px;*/
    position: relative;
}

/*#content.wiki #document {
    flex: 9 1 200px;
}
*/
#document #wiki {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#document iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    border-left-style:  solid !important;
    border-left-color: black !important;
    border-left-width: thin !important;
    border: none;
    /*! margin-bottom: 15%; */
}
/*#document.visible {
    display: block;
}
*/
#mapd iframe#map {
    /*position: absolute;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#indexbutton {
    position: absolute;
    right: 20px;
    top: 10px;
}




@media only screen and (max-width: 600px) and (orientation: portrait) {
	#content {
		flex-direction: column;
	}

	#drag {
		height: 1px;
		width: initial;
	}

	#drag .area {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-left: 0;
		border-right: 0;
		height: 5px;
		top: -2.5px;
		width: 100%;
	}

	#mapd {
	}

	#document #wiki {
	}
}
