/* VARIABLES */
:root {
    --couleur: #009900;
    --couleur-rose: #f00df0;
    --vert-mi-sapin-mi-pomme: #18e007;
}




/* F O N T E S */
@font-face {
    font-family: "Combined";
    src: url('typo/Combined/combined.otf');  
    font-style:   normal;
    font-weight:  normal;
}

@font-face {
    font-family: 'combinedregular';
    src: url('typo/Combined/web/combined.eot');
    src: url('typo/Combined/web/combined.eot?#iefix') format('embedded-opentype'),
         url('typo/Combined/web/combined.woff2') format('woff2'),
         url('typo/Combined/web/combined.woff') format('woff'),
         url('typo/Combined/web/combined.ttf') format('truetype'),
         url('typo/Combined/web/combined.svg#combinedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_bold-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_bold-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_bold-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_bold-webfont.svg#wremenabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_regular-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_regular-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_regular-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_regular-webfont.svg#wremenaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_light-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_light-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_light-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_light-webfont.svg#wremenalight') format('svg');
    font-weight: normal;
    font-style: 200;
}

@font-face {
  font-family: 'Coupeur Monospace Bold';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Coupeur Monospace Normal';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/* S T Y L E S */

body {
  overflow: hidden;
  font-family:'combinedregular', 'combined';
  background-image:linear-gradient(-90deg, white, #afabab );

}

a {
    cursor: pointer;
}

h1#home {
    position: fixed;
   /*! right: 1em; */
    top: -20px;
    z-index: 1000;
    text-shadow: -3px -3px 60px white, 3px 3px 60px white, -3px 3px 60px white, 3px 3px 60px white;
}

h1#home a {
    color:#f00df0;
    text-decoration: none;
}

h1#home a:hover {
    color: blue;
}



/*la map*/

textPath {
    display: none;
}

/* NORMAL LINKS */
.links line {
  /*stroke: var(--couleur-rose);*/
  stroke: lightgray;
}

/* LINES CATEGORIES */
.links line.linkc {
    stroke: #f00df0AA;
    stroke-dasharray: 1, 2;
    stroke-linecap: round; 
    stroke-width: 1;
}

/*path.cat {
    stroke: #f00df0AA;
    stroke-dasharray: 1, 2;
    stroke-linecap: round; 
    stroke-width: 6;
}
*/
/* LINES HISTORY */
.links line.linkh {
    stroke: blue;
  stroke-dasharray: 2;
  stroke-dashoffset: 3 ;
  animation: dash 2s linear infinite;
    stroke-linecap: round; 
}

/* LINES ACTIVE */
/*.links line.linkl, .links line.linkx {
    stroke: #d4d4d4;
    stroke-dasharray: 1, 2;
    stroke-linecap: round; 
    stroke-width: 4;
}
*/
@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.nodes circle {
  pointer-events: all;
  /*stroke: none;*/


}

#svgdiv {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

}
#svgdiv svg {
  width: 100%;
  height: 100%;
}

#cats {
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom:10px;
  right: 10px;
  border: 2px solid pink;
  
}

#cats .body .cat {
  /*margin-right: 1em;*/
  text-decoration: none;
  color: yellow;
  cursor: pointer;
}

#cats .body .cat.highlight {
  color: var(--couleur-rose);
    
}

/* images */

image{
    /*display: none;*/
}

image + g {
    /*display: none;*/
    border: 2px solid black;
}

.thumb {
    transform: scale(1.5);

}

#docdiv {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 760px;
  border: 1px dotted #f54123;
}

#docdiv iframe {
  width: 100%;
  height: 100%;
  border: none;
}

svg a.item path {
  fill: red;
}

/*texte*/

text tspan {
 font-size: 9px;  
 font-family: 'Coupeur Monospace Normal', monospace;
fill: var(--couleur-rose) !important;
visibility:visible;
}
/*visibility of the node text labels!*/


svg a.item.active text tspan {

    /*! stroke: var(--couleur-rose); */
    /*! stroke-width: 0.8px; */

    font-family: 'combinedregular','combined';
    visibility: visible !important;
    fill: blue !important;
    font-size: 12pt;
}

svg a.item.mouse text tspan {
    fill: blue !important;
    visibility: visible;
    font-size: 12pt;
    font-family: 'combinedregular','combined';
    stroke: white;
    stroke-width: 1px;
    paint-order: stroke fill;
}

  /* formes svg */

svg a.item.mouse path {
  stroke: blue !important;
}

svg a.item.mouse circle {
  stroke: blue !important;
}

svg a.item.mouse ellipse {
    stroke: blue !important;
}

svg a.item.active text {
    font-weight: bold;
}

svg a.item.active ellipse {
   fill: blue !important;
}

svg a.item.active path {
   stroke: blue !important;
}

svg a.item.active circle[id^=Site] {
    stroke: blue !important;
    stroke-width: 2px;
}
svg a.item.active circle[id^=Site] {
    stroke: blue !important;
    stroke-width: 2px;
}

svg a.item line.image {
  stroke-width: 10px;
  stroke: blue;
}

.nodes circle[id^=Main] {
fill: white!important;
stroke: black !important;
stroke-width: 1 !important;
/*transform: scale(2);*/
/*transform-origin: center;*/
}

.nodes a.item.active circle[id^=Main] {
   fill: blue!important;
  stroke:blue !important;;
}

svg a.item.highlight_cat path, svg a.item.highlight_cat circle, svg a.item.highlight_cat ellipse {
  fill: black !important;
  stroke-width: 10px;

}

/*symbols categories*/

svg .item.Enseignants.active path
{
    /*fill:green !important;*/
}
svg a.item.Enseignants.mouse path
{
    /*fill:purple !important;*/
}

/* zone active*/

svg polygon.active_area_inner {
    /*stroke: blue !important;
    stroke-width: 3;*/
    /*fill: lightpink !important;*/
}


svg polygon.active_area_outer {
    /*stroke: gray !important;*/
   
}


/* timeline */

svg path.month {
  visibility: hidden;
}


/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
  font-size: 12px;
  }
.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
  pointer-events: none;
  }
.leaflet-top {
  bottom: 0;
  margin-bottom: 10px;
  position: fixed;
  }
.leaflet-right {
  right: 0;
  }
.leaflet-bottom {
  bottom: 0;
  }
.leaflet-left {
  left: 0;
  }
.leaflet-control {
  float: left;
  clear: both;
  }
.leaflet-right .leaflet-control {
  float: right;
  }
.leaflet-top .leaflet-control {
  margin-top: 10px;
  }
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
  }
.leaflet-left .leaflet-control {
  margin-left: 10px;
  }
.leaflet-right .leaflet-control {
  margin-right: 10px;
  }

/* general toolbar styles */

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  }
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
  }
.leaflet-bar a:first-child {
  }
.leaflet-bar a:last-child {
  border-bottom: none;
  }
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
  }


/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: Combined;
  font-size: 24px;
  line-height: 20px;
  text-indent: 1px;
    box-shadow: 0 3px 3px 3px rgba(39, 255, 0, 0.44);
  background-color: #ffffff;
  }

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
  font-size: 16px;
  }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
  }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
  }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
  }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  }

.leaflet-control-layers {
  box-shadow: 0 3px 3px 3px rgba(39, 255, 0, 0.44);
  background-color: #ffffff;
  }

.leaflet-control-layers-toggle {
  background-image: url(../img/layers.png);
  width: 36px;
  height: 36px;
}

