a {
    /*background: white;*/
}

body {
    font-family: 'Coupeur Monospace Bold', monospace;
    padding: 2%;
    /*! font-size: 12pt; */
    background: white;
    margin: 0%;
border:solid 1px black;
         line-height: 1.5em;
}

@font-face {
  font-family: 'Coupeur Monospace Bold';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Coupeur Monospace Normal';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

 a {
text-decoration: none;
    font-family: 'Coupeur Monospace Normal';
  
    font-weight:  500;
    margin-left: 1%;
    border-bottom: 2px solid red;

    }

p a{
text-decoration: none;
    border-bottom: 2px solid blue;
    }