/*Styles*/

/* VARIABLES */
:root {
    --couleur: #1a952d;
    --couleur-rose: #fc3ffc;
}

/* On cache les contenus propres au wiki */
.wikionly {
  display: none;
}





/* F O N T E S */


@font-face {
    font-family: "Combined";
    src: url('typo/Combined/Combinedd.otf') format('otf'),
        url('typo/Combined/webfont/Combinedd.woff') format('woff'),
        url('typo/Combined/webfont/Combinedd.woff2') format('woff2'),
    url('typo/Combined/webfont/Combinedd.eot') format('eot');
    font-style:   normal;
    font-weight:  normal;
}


@font-face {
    font-family: 'combinedregular';
    src: url('typo/Combined/web/combined.eot');
    src: url('typo/Combined/web/combined.eot?#iefix') format('embedded-opentype'),
         url('typo/Combined/web/combined.woff2') format('woff2'),
         url('typo/Combined/web/combined.woff') format('woff'),
         url('typo/Combined/web/combined.ttf') format('truetype'),
         url('typo/Combined/web/combined.svg#combinedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_bold-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_bold-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_bold-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_bold-webfont.svg#wremenabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_regular-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_regular-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_regular-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_regular-webfont.svg#wremenaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_light-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_light-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_light-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_light-webfont.svg#wremenalight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'Coupeur Monospace Bold';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Coupeur Monospace Normal';
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot'); /* IE9 Compat Modes */
  src: url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.woff') format('woff'), /* Modern Browsers */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../typo/Coupeur/webfont/CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/* REDÃ‰FINITION DES TAGS PRINCIPAUX */

body {
    font-family: 'Coupeur Monospace Normal', monospace;
    font-size: 16px;
    line-height: 1.3em;
    color : black;
    background: whitesmoke;
    margin: 1.2em;


}

section {
    border-top: 1px solid black;

}

/*h1, h2, h3, h4 {
    font-family: 'Combined', sans-serif;
    color: blue;*/
    /*text-shadow: #000000 0.5px 0.5px, #000000 -0.5px 0.5px, #000000 -0.5px -0.5px, #000000 0.5px -0.5px;*/
   /* padding: 0.5em 0;
    line-height: 1.5em;
}*/

h1, h2, h3, h4 {
        font-family: 'combinedregular','Combined', monospace;
        /*padding: 2%;*/
        /*padding-right: 50%;*/
        padding-right: 10%;
        padding-top: 0.5em;
        margin: 0;
        border-top: thin dotted;
        border-color: black;
        line-height: 1.5em;
        font-weight: normal;
}


h1 {
    border-top: none;
    margin-top: 0.1em;
    color:blue;
    font-size: 24px;
}

h2 {
    color:var(--couleur-rose);
}

p {
    font-family: 'Coupeur Monospace Normal', monospace;
}

a {
    color: inherit;
    margin-bottom: -1px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    border-left:  0;
    border-right: 0;
    border-top:  0;
    border-image: linear-gradient(to right, #009900, #f00df0);
    border-image-slice: 1;
    border-bottom-width: 2px;
    position: relative;
    transition: background-color 0.5s;

}

a:hover {
    background-color: blue;
    color: white;
}


p a{

}

ul {
    list-style: none;
    line-height: 1.5em;
}

ul li::before {  
    content: ' ';
    background-image: url(../img/arrow-right-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    display:inline-block;
    margin-right: 0.5em; 
}

a img {
  border: 1px;
  vertical-align: top; /* magically this cancels the containing anchor's bottom border */
  border-radius: 0%;
  transition-duration: 1s;
}


.Media-figure a,
a.image {
    position: relative;
    background-blend-mode: multiply;
    display: inline-block;
}

.Media-figure a:before,
a.image:before,
.image > p > a:first-child:before,
.image > a:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--couleur-rose);
    mix-blend-mode: color;
}

.Media-figure a[href^=Page_web]:before,
.Page_web a.image:before,
.Sites_satellites a.image:before,
.Page_web .image > p > a:first-child:before,
.Sites_satellites .image > p > a:first-child:before,
.Page_web .image > a:first-child:before,
.Sites_satellites .image > a:first-child:before {
    background-color: var(--couleur);
}

/*
a.image:after,
.image > p > a:first-child:after,
.image > a:first-child:after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--couleur-rose);
    mix-blend-mode: screen;
}
*/

a.image:hover:before,
a.image:hover> p > a:first-child:before,
a.image:hover> a:first-child:before {
    display: none;
}

a[title^=Page].image:before,
.image > p > a[title^=Page]:first-child:before,
.image > a[title^=Page]:first-child:before {
    background-color: var(--couleur);
    mix-blend-mode: screen;
}




/* U T I L I T A I R E S */

.categories {

    color: #f00df0;
    font-family:'combined', serif;
}

.categories {
    margin-top: 1em;
}

.categories .label {
    display: none;
    border: none;
}

#subcats h2.label {
    display: none;
}

#catmembers h2.label {
    display: none;
}

.categories a {
    border: 0;
    border-bottom: 2px solid limegreen;
}

.categories li:before {
    display: none;
}

.categories li {
    display: inline;
}

.categories a:before {
    content: "";
    background-image: url("../img/map-Main.svg");
    display: inline-block;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.categories a.Orientations:before {
    background-image: url("../img/map-Orientations.svg");
}
.categories a.Enseignants:before {
    background-image: url("../img/map-Enseignants.svg");
}
.categories a.Category:before {
    background-image: url("../img/map-Category.svg");
}
.categories a.Sites_satellites:before {
    background-image: url("../img/map-Sites_satellites.svg");
    width: 50px;
}
.categories a.Page_web:before {
    background-image: url("../img/map-Page_web.svg");
}
.categories a.Main:before {
    background-image: url("../img/map-Main.svg");
}

div.pubdate {
  clear: both;
}

.ago {
    /*font-style: italic;*/
    font-weight: 200;
}

.site{
    font-size 10px;

}

.site::before {  
/*    content: '↳ ';*/
    content: ' ';
    background-image: url(../img/arrow-toptoright-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    display:inline-block;
    margin-right: 0.5em; 
}

.site a{
    border-style: dotted;
}

a .site{
    border-style: dotted;
}

.page{
    font-size: 20px;
    line-height: 25px;

}

.subtitle{
    font-size: 10px;
}

a.new {
    color: var(--couleur);
    text-decoration: none;
}

.last_modified {
    margin-top: 10em;
    clear: both;
}

a.wiki {
    /*text-transform: uppercase;*/
    text-decoration: none;
    border-color: black;
/*    background: var(--couleur-rose);*/
    padding-top: 2em;
    padding-left: 2px;
    padding-right: 2px;
    border-top-style: solid;
    border-top-width: 1px;
   
}

a.wiki:hover {
    background: var(--couleur);
}

span.mw-editsection {
    display: none;
}

span.redlink {
    text-decoration: none;
    border-bottom: 1px solid var(--couleur);
    cursor: help;
}

div.wikiurl {
    padding-top: 1.2em;    
    text-align: right;
}

div.wikiurl a {
    padding: 0em 0.25em;
    letter-spacing: 0.5px;
}



/* Menu */
#menu-link {
    padding: 5px 0;
    background-image: url("../img/threelines.svg");
    background-repeat: no-repeat;
    position: fixed;
    right: 5px;
    top: 5px;
    background-size: 70% 70%;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-sizing: border-box;
}

#menu-link:hover {
    border: 1px solid var(--couleur);
    cursor: pointer;
}

#menu-link:after {
    content: "menu";
    margin-top: 9px;
    display: block;
    margin-left: 2px;
}

#menu-link a {
    border: 0;
}

#menu-link a .label {
    visibility: hidden;
}
#menu-link a:hover {
    background: none;
}

#menu {
    width: 100%;
￼    height: 100%;
￼    position: fixed;
￼    top: 3em;
￼    left: 0;
    border: 0;
￼    background-color: white;
￼    z-index: 10000;
}




/* Gallery */



li.gallerybox {
    vertical-align: top;
    display: -moz-inline-box;
    display: inline-block;
}






table.cargoTable.sortable {
    table-layout: auto;
    width: 100%; 
    font-size: 12px;
}

table.cargoTable.sortable th {
  display: none;
  margin: 0;
}
.field_Pages.even, .field_Pages.odd, .field_DerniÃ¨re_modification.even, .field_DerniÃ¨re_modification.odd, .field_Site.even, .field_Site.odd {
    font-size: 12px;
    display: none;
    
}

.field_End, .field_End::before {
  content: ' ';
  background-image: url(../img/arrow-right-small.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px; 
  display: inline-block;
  margin-right: 0.5em; 
}

.field_Updated.even, .field_Updated.odd, .field_Start, .field_Start::before {
  content: "â†’ ";
  /*content: "---> ";*/
}

.thumb {
    float: left;
}

.thumb + :not(.thumb) {
    clear: both;
}

.thumbcaption {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2em;
}



  

/* media items (used to list items with thumbnails) */

.medialisting {
    display: flex;
    flex-wrap: wrap;
}

.Media {
  display: flex;
  align-items:flex-start;
  align-self: start;
  flex-direction:column-reverse;
/*  margin-bottom: 1em;*/
  margin: 1.5em;
  padding: 0.5em;
  border-left: solid;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #918d8d;
  max-width: 190px;
  
}


.Media-figure {
  margin-right: 1em;
}

.Media-figure img {
    max-width: 100%;
    height: auto;
}

.Media-body {
  flex: 1;
}

.site{
  font-size: 15px;
}

.ago{
  font-size: 10px;
}

/*#subcats*/

#backlinks {
/*
    float: left;
    width: 50%;
*/
}


.backlinks-body {
  display: flex;
    
}
.backlinks-body .Media {
    flex-direction: initial;
}
.backlinks-body ul {
  flex: 1;
}

/* MOTEUR DE RECHERCHE / M E N U */
body.search #searchinput {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 10px;
  font-size: 18px;
}

body.search div#search {
  margin-top: 1em;
}

body.search div#search input {
    background-image: linear-gradient(whitesmoke, var(--couleur-rose));
    font-family:'Coupeur Monospace Normal', monospace;
    color: white;
}

body.search div#search input:focus {
    outline: 0;
    background-image: linear-gradient(white, var(--couleur-rose));
}

body.search div#search + h1 {
    margin-top: 0;
}

body.search ul:nth-of-type(1) li {
    /*display: inline-flex;*/
    /*background-image: linear-gradient(145deg, transparent, var(--couleur-rose));*/
    padding: 0.25em;
}
body.search li:before {
    /*display: none;*/
}

/*body.search ul:nth-of-type(2) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/

body.search ul:nth-of-type(2) li {
    /*background-image: linear-gradient(145deg, var(--couleur-rose), whitesmoke);*/
    max-width: 50%;
    flex-grow: 1;
    display: inline;
    text-align: left;
    /*padding: 0.5em;*/
    box-sizing: border-box;
}

body.search ul:nth-of-type(2) li:nth-child(3n) {
    /*background-image: linear-gradient(145deg, white, var(--couleur-rose));*/
}



ul a{
    border-bottom: 2px solid;
    margin-bottom: -2px;
}

ul a:hover{
    border-bottom: solid;
    border-color:  var(--couleur-rose);
    border-width: 2px;
}


/* TABLE DES MATIÈRES */
#toc {
  display: none; /* too complex, switching off MM sep 2018 */
}

.toc {
    font-size: 0.8em;
    line-height: 1.2em;
    border-left: 1px solid blue;
    padding: 1.2em;
    float: right;
    max-width: 50%;
}

.toc h2 {
    margin: 0;
    font-size: 1em;
}

.toc ul {
    padding: 0;
}

.toc ul ul {
    padding-left: 1.2em;
}

.toc:li:before {
    display: none;
}

.toc a {
    color: blue;
}


/* S I T E S      S A T E L L I T E S */

.Page_web,
.Sites_satellites {
    /*background-image: linear-gradient(to right, var(--couleur), white);*/
}

body.Page_web, 
body.Sites_satellites {
    box-shadow:  5px 5px 50px var(--couleur);
    padding: 1.2em;
}

table.infobox {
  max-width: 20em;
/*  background-color: var(--couleur);*/
  margin-bottom: 0.5em;
  padding: 0.5em;
  float: right;
  clear: right;
  text-align:left;
    margin-left: auto;
    font-size: 0.8em;
    line-height: 1.3em;
    color: black;
    border: dotted;
    border-radius: 10px;
    border-width: 1px;
    
}

table.infobox a{
    color: black;
}


/* Category specific */
ul.categories a.Pages_avec_des_liens_de_fichiers_brisés {
  display: none;
}

/* Page specific styling */
.page-Page_web #catmembers {
  display: none;
}
.page-Actualités #catmembers {
  display: none;
}


